.bulk-uploaded {
  display: flex;
  width: 392px;
  padding: 0 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  background-color: #F1F7FD;

  &__title {
    color: var(--main-heading-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
  }
}
