.admin-entity {
  &__preview-wrapper {
    width: fit-content;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: var(--main-mute-color);
    cursor: pointer;
    transition: background-color 150ms ease-out, color 150ms ease-out, fill 150ms ease-out;

    &>p {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
    }

    &:hover {
      &>p {
        color: var(--main-white-color);
      }

      &>svg {
        fill: var(--main-white-color);
      }
    }
  }
}
