.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px 0;
  width: 1200px;

  &-background {
    background-color: #F1F7FD;
  }
}

.no-padding__top-bottom {
  padding-bottom: 0;
  padding-top: 0;
}
