.admin-entity {
  &__name-form {
    display: flex;
    width: 805px;
    padding: 8px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--main-border-color);
  }

  &__name-input {
    width: 100%;
    border: none;
    color: var(--main-heading-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
  }
}
