.sort {
  &--admin-uploaded {
    display: flex;
    width: 218px;
    padding: 8px !important;
  }

  &--admin-analytics {
    width: 97px;
    height: 24px;
    padding: 4px 8px !important;
    line-height: 1.3 !important;
  }
}
